@import "bootstrap";
@import 'lightbox';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab&display=swap');
@import "font-awesome";


body {
  background: image_url('blizzard.png');
  font-family: 'Open Sans', sans-serif;

}

.navbar {
  background-color: #4e1232;
  box-shadow: 0px 1px 1px #801747;
  color: #f1e9ed;

}

.menu-toggle {
  border:  2px solid #f1e9ed;
  padding: 7px 7px;
  border-radius: 20%;
  color: #f1e9ed;
}

.menu-toggle:hover {
  background-color: #fff;
  color: #94205a;
}
.navbar-brand {
  color: #f1e9ed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.navbar-brand:hover{
  color: #fff;
  text-decoration: bold;
}

.nav-link {
  color: #f1e9ed;
}

.nav-link:hover {
  color: #fff;
  text-decoration: bold;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4 #bebebd;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.page-link, h1 a {
  color: #94205a;
}

h1 a:hover {
  color: #4e1232;
  text-decoration: none;

}

.page-item:hover .page-link:hover {
  color: #4e1232;
  background-color: #c7b0bc;
  border-color: #c7b0bc;
}
.page-item.active .page-link {
  background-color: #94205a;
  border-color: #94205a;
}

.btn-primary {
  background-color: #94205a;
  border-color: #94205a;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;

}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0.5rem 10px;
  padding: 0.5rem 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.photo-thumb {
  margin-bottom: 1.51rem;
}

.delete-link a {
  color: #c0c0c0;
}

.delete-link a:hover {
  color: #4e1232;
  text-decoration: none;
}

.card.no-border {
  border: none;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  object-fit: cover;
}

.carousel-caption {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: rgba(78, 18, 50, 0.45);
  color: #f1e9ed;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
