@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mali:400,500,700|Open+Sans:400,600,700&display=swap');

body {
  background: image_url('blizzard.png');
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

  /*font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;*/

  /*font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/

}

.navbar {
  background-color: #94205a;
  box-shadow: 0px 1px 1px #801747;
  font-family: 'Open Sans', sans-serif;
  color: #fff;

}

.navbar-brand {
  color: #fff;
  font-family: 'Mali', cursive;
  font-weight: 500;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4 #bebebd;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}