<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>
  <div class="clearfix">
    <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary float-right' %>
  </div>
</div>